# ignore all psd files
*.psd
# ignore all txt files
*.txt
# this file too
README.txt (but not this file)
# ignores a whole font folder
_fonts/
#ignores a whole target folder
_target/
# ignores a whole bin folder
/bin/
# ignore all logs
*.log
/target/
