<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="AutomationTest.GoDirectVoiceAndroid.contactHistory.AddContactHistory"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.Offline"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.EditContactNumber"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXSIPCall.CallIAXSIPKeypad"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccCCU200"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Keypad.KeypadNumberType"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXIAXCall.CallIAXHistoryDetails"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccSDRCustomSIP"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccGoGoCustomSIP"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccAspire100"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPIAXCall.EstablishSIPIAXCall"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccIriCustomSIP"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPIAXCall.CallSIPIAXKeypad"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.onlineaccount.AppStartOnline"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MessageCompose"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.ContactDeleteKeep"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Buddies.AutoBuddySearch"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPCall.CallSIPHistoryDetails"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgTakePic"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contactHistory.EditContactNumberHistory"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.history.HistoryDeleteMultiplefromMissedList"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPIAXCall.CallSIPIAXStatistics"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgSearchUnsavedNoMatch"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.common.MicPermissionContactFresh"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXSIPCall.CallIAXSIPContact"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Dialplan.DialPlanDelete"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXIAXCall.OutgoingIAXCall"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgSentHistory"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXSIPCall.CallIAXSIPHistory"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.history.HistorySelectionRemove"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgSelectionRemove"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXSIPCall.EstablishIAXSIPCall"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgSentContact"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.common.StoragePermissionFileFresh"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.common.ContactPermission"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.ContactSearchNotMatch"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.DrawerAccAdd"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.GroupMessage"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactOwn"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contactkeypad.ContactAddExistingCheck"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.ContactMessage.EditContMsgThread"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccCNX800"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactUsa"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.onlineaccount.ForgotPassword"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccCobCustomIAX"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.call.RedialKeypad"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.ContactUpdateCheck"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.call.CallKeypadPrefix"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.call.CallHistoryDetails"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AccountEnable2"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccCNX250"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXSIPCall.RedialIAXSIPKeypad"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactZuz"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXIAXCall.EstablishIAXCall"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgBuddyRemove"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXIAXCall.CallIAXHistory"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXIAXCall.RedialIAXKeypad"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactEyek"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccAviator"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPCall.CallSIPStatistics"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgVariable"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactLopas"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccHonCustomIAX"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccCNX900"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgBuddyAccess"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.call.CallMessages"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.DeleteSentFile"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Keypad.KeypadSIPNumberType"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgSentBuddy"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgDeleteThread"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Keypad.KeypadNumberRemove"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPIAXCall.OutgoingSIPIAXCall"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPIAXCall.RedialSIPIAXKeypad"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.NonSecuredMsg"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccGDR"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AccNavigation"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgServiceCheck"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.onlineaccount.ChangePasswordCondition"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contactkeypad.AddExistingContKeypad"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.call.CallHistory"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPCall.RedialSIPKeypad"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactBreg"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccCCU100"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.onlineaccount.LoginAcc"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactBuddy"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPIAXCall.CallSIPIAXContact"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.DeleteSentPic"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccGoGoCustomIAX"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.onlineaccount.LogOut"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactSteve"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.ContactDeleteCheck"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.common.ContactPermissionFresh"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccSimphone"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Keypad.KeypadProfileIAXSelect"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AccValidOffline"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgDeleteText"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Keypad.DrawerProfileOnlineSelect"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.EditContactNumberPrev"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgMailLink"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXSIPCall.CallIAXSIPStatistics"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccCobCustomSIP"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.ContactDeleteBuddy2"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPCall.CallSIPContact"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.ContactSearch"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactNewe"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactTwM"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.onlineaccount.SecureOnOff"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgWebLink"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddSipCustom"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.onlineaccount.Resync"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.call.CallMsgThread"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AppStartOffline"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Buddies.BuddySearchUnsavedNotMatch"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.history.HistoryMissed"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contactkeypad.ContactDeleteBreg"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AccountEnable"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.history.HistoryPrefixCheck"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.ContactScrolling"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.common.StoragePermissionPicFresh"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Buddies.BuddiesScrolling"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.ContactDeleteBuddy"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPCall.EstablishSIPCall"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.common.AppStartDiscovery"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.onlineaccount.ForgotPassValidation"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.history.HistoryDeleteMultiple"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactHira"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccHonCustomSIP"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccIridiumGo"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgDeleteMultiple"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactDxf"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.call.OutgoingCall"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.history.HistoryMissCallEntry"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.common.About"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactIAX"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactAutoDiscovered"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Buddies.BuddySearch"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contactHistory.EditContactHistory"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactGump"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.ContactDetailsLink"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.ContactMessage.EditContMsgBuddyDetails"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Keypad.KeypadProfileSIPSelect"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.onlineaccount.LogInCheck"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.onlineaccount.LoginValidation"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccTNCustomSIP"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.ContactDelete"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MessageSearch"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Dialplan.DialPlanEdit"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.ContactBuddies.DeleteContMsgBuddy"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.history.HistoryMissedListSelectionRemove"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.EditAccMPA"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccSDR"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.call.EstablishCall"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXIAXCall.CallIAXContact"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXSIPCall.CallIAXSIPHistoryDetails"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contactHistory.AddExistingContHistory"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.call.CallBuddy"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AccountEnableDisable"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.ContactUpdateCheck2"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccSDRCustomIAX"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MessageSentUnsaved"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgSentThreadBuddy"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.call.CallMsgThreadBuddy"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddIAXCustom"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPIAXCall.CallSIPIAXHistory"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AccountDelete"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.onlineaccount.LogInOut"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.call.CallKeypad"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccGoGoAxxess"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.history.HistoryDeletefromMissedList"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccIriCustomIAX"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.ContactBuddies.BuddiesDelete"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Buddies.AutoBuddiesScrolling"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.ContactMessage.AddContMsgThread"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MessageComposeSaved"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactRon"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgSentFile"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AccountValidation"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPIAXCall.CallSIPIAXHistoryDetails"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactKeep"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccCG710GD"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.EditContact"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXSIPCall.OutgoingIAXSIPCall"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.KeypadAccAdd"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MsgSentPic"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPCall.OutgoingSIPCall"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactNumber"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.call.CallContact"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.common.MicPermissionKeypadFresh"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.ContactSavedCheck"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contactkeypad.AddContactKeypad"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.onlineaccount.LogOutValidation"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.call.CallStatistics"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactJhon"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.history.HistoryDelete"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccGoGoST4300"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccTNCustomIAX"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXIAXCall.CallIAXStatistics"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.ContactDetails"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccOptelity"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.onlineaccount.LoginAccChangePass"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Messages.MessageDelete"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.onlineaccount.ChangePassword"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.account.AddAccCG710L"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.AddContactFyt"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.Dialplan.DialPlanAdd"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.IAXIAXCall.CallIAXKeypad"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.ContactDeleteBuddyName"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPCall.CallSIPHistory"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.contacts.ContNumUpdateCheck"/>
      <class name="AutomationTest.GoDirectVoiceAndroid.SIPCall.CallSIPKeypad"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
